<div class="container">
<h1 class = "ethan" style="color:#808080;"> Welcome to Cars Nation! </h1> 

<a style="color:white;" href="/login">Log In</a>
<p style="color:#808080;"> or please.... </p>
<a style="color:white;"href="/signup">Sign Up</a>
</div>

<br>
<br>
<br>
<br>
<br>
<footer class="branding">
<small style="color:#808080;">&copy; 2021 <strong>Cars Nation</strong></small>
</footer>
</div>
